<ion-content class="ion-padding restaurant-theme">
  <div class="form-container">
    <ion-card>
      <ion-card-header class="card-header ion-text-center">
        <ion-title>Actualizar Producto</ion-title>
      </ion-card-header>

      <ion-card-content>
        <form (ngSubmit)="updateProduct()">
          <ion-list>
            <ion-item>
              <ion-label position="stacked"><b>Nombre</b></ion-label>
              <ion-input [(ngModel)]="product.name" name="name" type="text" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked"><b>Descripción</b></ion-label>
              <ion-input [(ngModel)]="product.description" name="description" type="text"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked"><b>Precio</b></ion-label>
              <ion-input [(ngModel)]="product.price" name="price" type="number" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked"><b>Descuento (%)</b></ion-label>
              <ion-input [(ngModel)]="product.discountPercentage" name="discountPercentage" type="number"></ion-input>
            </ion-item>
          </ion-list>

          <div class="button-group">
            <ion-button type="submit" color="success" expand="block">
              <ion-icon slot="start" name="save"></ion-icon> 
            </ion-button>

            <ion-button color="primary" expand="block" routerLink="/products">
              <ion-icon slot="start" name="arrow-back"></ion-icon> 
            </ion-button>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>